body {
  background: url('./assets/background.jpg') no-repeat;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 1em;
}

.WeatherLocation {
  background: #1e5799;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
  color: white;
  margin-bottom: 15px;
  padding: 2em;
  position: relative;
  width: 310px;
}

@keyframes loader {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.WeatherLocation__loader {
  animation: loader infinite 5s linear;
}

.WeatherLocation-sun { background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#57a7e5 100%); }
.WeatherLocation-rain { background: linear-gradient(to bottom, #335062 0%,#335062 50%,#335062 100%); }

.Location h1 {
  font-weight: 100;
  margin-top: 0;
  text-align: right;
}

.Location__country {
  font-size: .55em;
}

.WeatherTemperature {
  display: flex;
  font-size: 3.2em;
  justify-content: space-between;
  letter-spacing:  -3px;
}

.WeatherTemperature__icon {
  color: #FACD4C;
}

.WeatherTemperature__temperature {
  font-size: 1.3em;
  font-weight: 700;
}

.WeatherExtraInfo {
  padding-right: 10px;
  text-align: right;
}